/* Не забудь подключить нужные шрифты. Удачи в разработке! */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Stalinist+One&family=Tiny5&display=swap');
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

.fon{
    width: 100vw;
    height: 100vh;
    background-size:cover ;
    background-image: url("https://img.freepik.com/free-photo/purple-mountain-landscape_1048-10720.jpg?t=st=1737795957~exp=1737799557~hmac=46341a78e07accc250bee4a92201f69834efa989421130c3a3fd1510edc806ad&w=900");
}
.zz{
    font-family: 'Tiny5';
    margin: 0px;
}
.zx{
    font-family: 'Stalinist One';
    text-align:center ;
}
.xz{
    font-family: 'DotGothic16';
    position: absolute;
    bottom: 50px;
    left: 20px;
    
}

.vot{
    font-family:  'Tiny5';
    background-color: blueviolet;
    width: max-content;
    position: absolute;
    bottom: 25px;
    left: 20px;
    
}

.field{
    display: grid;
    width: 80vw;
    height: 40vw;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 2px;
}

.cell{
    background-color: white;
}

.color_cell{
    width: 5vw;
    height: 5vw;
    border: 1px black solid;

}
.red{
    background-color: RED;
    border-radius: 2.5vw;
}

.blue{
    background-color: blue;
        border-radius: 2.5vw;
}

.green{
    background-color: green;
        border-radius: 2.5vw;
}
 .black{
    background-color: black;
        border-radius: 2.5vw;
}
.purple{
    background-color: purple;
        border-radius: 2.5vw;
}

.green{
    background-color: green;
        border-radius: 2.5vw;
}

.field-container{

    background-color: lightblue;
    width: 100vw;
    height: 100vh;
    display: none;
}

.nav_irem1{
    background-color: white;
}


.selected{
    border: 2px solid white;
}
